
html * {
    font-family: 'Roboto', sans-serif;

}


img {
    height: 200px;
}

body {
    margin: 0;
    padding: 0;
}

main {
    padding:16;
}

footer {
    padding: 24px;
    background-color: rgb(188, 207, 102)
}

img {
    height: 200px;
}

nav {
    border-bottom: 1px solid black;
    padding: 16px;
}

a:hover {
    background-color: rgb(230, 195, 183);
  }

nav {
    background-color: rgb(255,90,51);
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: black
}

a[href] {
    color: green;
    text-decoration: none;
}
h1 {
    color: green;
}

.gray-lines tr:nth-child(even) {
    background-color: lightgray;
}

#main-top {
    color: whitesmoke;
}

img {
    box-shadow: 0 2px 4px 2px rgb(180, 209, 186);
}
